*{
    margin: 0;
    padding: 0;
}
body{
    margin: 50px;
}
label{
    position: relative;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 10px;
}
.wrap{
    width: 250px;
    height: 50px;
    margin: 0 auto;
}
.div-radio-button{
    display: flex;
    padding-top: 5px;
}
.div-submit-button{
    padding-left: 8px;
}
.check-box{
    position: relative;
    user-select: none;
    cursor: wait;
}
.wrap > div{
    display: flex;
    justify-content: center;
    align-items: center;

}
.check-box input{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 20px;
    width: 75px;
    opacity: 0;
    cursor: pointer;
}
.icon{
    position: absolute;
    top: -9%;
    color: black;
    border-radius: 40%;
    background-color: rgba(175, 227, 76, 0.16);
    transition-duration: 0.5s;
}
/*.check-box:hover > span{
    background-color: rgb(175, 227, 76);
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.check-box:hover > label{
    text-decoration: underline black;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}*/
.active  {
    background-color: rgb(175, 227, 76);
}
.lorem{
    margin: 0 auto;
    width: 50%;
}
